body {
  font-family: Helvetica;
  margin-top: 55px;
}

header {
  height: 55px;
  background-color: #575A5E;
  margin: -55px -10px 0 -10px;
  position: fixed;
  width: 100.2%;
}

header ul {
  padding-top: 18px;
}

header ul li {
  display: inline;
  padding: 10px;
}

header ul li a {
  color: #F4F7F5;
  text-decoration: none;
}

header ul li a:hover {
  color: #A7A2A9;
}

#left {
  margin-top: 1;
  float: left;
  list-style-type: none;
}

#right {
  margin-top: 1;
  margin-left: 30px;
  float: right;
  list-style-type: none;
}

#welcome {
  height: 450px;
  border: 3px solid black;
}

#brothers {
  height: 450px;
  border: 3px solid green;
}

#rush {
  height: 450px;
  border: 3px solid blue;
}

#events {
  height: 450px;
  border: 3px solid red;
}

#contact {
  height: 150px;
  border: 3px solid purple;
}

.center {
  text-align: center;
}

.underline {
  text-align: underline;
}

